Body{
    background-color: #E0DffD;
    overflow-x: hidden;
}

.color-roxo{
    background-color: #272747; 
}

.img{
    width: 50px;
    height: 50px;
}

.fundo{
    z-index: -1;

}

